@import "tailwindcss";

@theme {
  --color-blue-light: #d5e5ff;
  --color-blue-dark: #13418c;
}

body {
  font-family: var(--font-oswald), sans-serif;
}

button {
  @apply cursor-pointer;
}

.headline {
  @apply font-semibold text-zinc-900;
  font-size: clamp(1.2rem, 4.8vw, 2.6rem);
}

.btn {
  @apply font-semibold text-zinc-900;
  font-size: clamp(1rem, 4vw, 2rem);
}

.input {
  @apply w-full rounded-md border border-zinc-300 px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none;
}
